div.debut{
  display: flex;
  justify-content: center;
  align-items: center;

}

span.conn{
    position: relative;
    margin: 30px;
    background-color: #ef0000;
    padding: 10px;
    color: #fefefe;
    line-height: 8px;
    border-radius: 15px;
}
/* La tête de ma page*/

header{
    
    background-color: #ff700f;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #fefefe;
   
}
h1.haut{
    position: relative;
    top: 20px;
   left: 350px; 
}

body{
    margin: 0 auto;
}

span.dem{
    position: relative;
    background-color: #25a6d4;
    padding: 15px;
   top:  60px;
   left: 350px;
   font-size: 30px;
   border-radius: 15px;
}

img.ves{
    position: relative;
    right: 350px;
    bottom: 230px;
    width: 30%;
    border-radius: 100px;

    
}
/* Le corps de ma page*/

div.deux{
    position: relative;
    color: #81440e;
    height: 800px;
    width: 470px;
    left: 50px;
    top: 40px;
}

div.trois{
    position: relative;
    color: #dab697;
    height: 475px;
    width:  475px;
    left: 800px;
    bottom: 100px;
    
    
}
.seconde { background: url(../../poisson/seconde.jpg); }
.dernier { background: url(../../poisson/dernier.jpg); }

span.nom{
    position: relative;
    color: #997604;
    padding: 15px;
    font-size: 50px;
    top: 410px;
    left: 170px;
}

h2.prix{
    position: relative;
    color: #000000;
    padding: 10px;
    font-size: 25px;
    top: 525px;
    left: 220px;
}

span.noms{
    position: relative;
    color: #997604;
    padding: 15px;
    font-size: 50px;
    top: 730px;
    left: 130px;
}

h2.priX{
    position: relative;
    color: #000000;
    padding: 10px;
    font-size: 25px;
    top: 845px;
    left: 180px;
}


span.deux{
    position: relative;
    color: #968d85;
 
    left: 970px;
    font-size: 30px;
    
}

span.trois{
    position: relative;
    color: #968d85;
    top: 160px;
    left: 100px;
    font-size: 25px;
    
}


.