
/* GRADEN AIR */
En griffe
ul.desti li{
    color: rgb(24, 89, 116);
    display: inline-block;
    margin: 10px;
    background-color: rgb(234, 244, 250);
    padding: 10px;  
}

body{
    background-color: #cdcdc9;
    margin: 0 auto;
    color: rgb(240, 228, 58);
}

header{
    background:  url(../images/header-section.jpg) 100% fixed;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2px;
}

h1{
    font-size: 90px;
    text-transform: uppercase;
}

h3{
    font-size: 30px;
    font-style: italic;
}
 

/*Destinations*/

div.desti-item{
    color: rgb(51, 26, 65);
    width: 250px;
    height: 300px;
    margin: 10px;
    position: relative;
}

div.destination-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


.barcelone { background: url(../images/barcelone.jpg); }
.dubai { background: url(../images/dubai.jpg); }
.londres { background: url(../images/londres.jpg); }
.paris { background: url(../images/paris.jpg); }
.philipines { background: url(../images/philippines.jpg); }
.tunis { background: url(../images/tunis.jpg); }



.overlay{
    background-color:  rgb(39, 31, 31);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;


}

span.nom{
    position: relative;
    color: rgb(51, 26, 65);
    background-color: #cdcdc9;
    top: 20px;
    float: right;
    padding: 10px;
    font-size: 20px;

}

span.prix{
    position: relative;
    color: #cdcdc9;
    background-color: #ff700f;
    padding: 20px; 
    font-size: 25px;
    top: 230px;

}


label.enf{
    position: relative;
    top: 15px;
}


/*SHHOOPING */

{
    margin-top: 10px;
    height: 400px;
    width: 100%;  
    background-color:#F97A0B ;
   /* padding: 20px;*/
}
.section img
{
    float: left;
    
    border-radius: 100px; 
    width: 200px; 
    height: 200px; 
    margin-left: 50px;
   
    margin-top: 70px;
}
.section .txt
{
    float: left;
    width: 50%;
    font-size: 25px;
    text-align:justify;
    margin-top: 50px;
    margin-left: 200px;
    /*   margin-right: 2rem;
    padding: -10rem;*/
    color: white;
}
.section button
{
    float: left;
    background-color: #15ACA2;
    border:10px solid #15ACA2 ;
    border-radius: 10px;
    font-size: 20px;
    
}
.article1 img
{
    float: left;
    width: 25%;  
}

.article2 img
{
    float: right;
    width: 25%;  
}
.menu
{
    text-align: center;
    font-size: 20px;
}
.menu a
{
    text-decoration: none;
    font-family: Arial;
    color: black;
    margin-left: 5px;
}

button
{
    background-color: #E92121;
    border:3px solid #E92121 ;
    border-radius: 25px;
    margin-left: 190px;
    font-size: 20px;
    color: white;  
}
.menu li
{
    list-style:none !important;
    color:rgb(19, 18, 18);
    font-size:20px;
    text-decoration:none;
}
.menu ul
{
    padding:10px;
    margin:0;
}
.menu ul li 
{
    list-style: none;
    line-height:44px;
    float:left;
  /*  background-color:#64abfb;*/
}
.menu ul li a 
{
    color:rgb(5, 5, 5);
    padding:10px;
    font-size:20px;
    text-decoration:none;
}
li a:hover 
{
    border-bottom:3px #FFF solid;
}
.menu ul li ul 
{ 
    display:none; 
} /* Rend le menu déroulant caché par défaut */
.menu ul li:hover ul 
{ 
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:5px;
    margin-left:-10px;
}
.menu ul li:hover ul li 
{
    float:none;
}

.form-group 
{
    margin-bottom: 1rem;
}
.form-control 
{
    display: block;
    width: 40%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    /*transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
}
label 
{
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 .btn {
    color: #fff;
    background-color: #15ACA2;
    border-color: #15ACA2;
    border-radius: 0px;
    margin-left: 15px;
    margin-right: 15px;
    width: 200px;
    height: 60px;
  }
h6 
{
  font-size: 20px;
  text-align: center;
  font-family: Calibri;
  padding: 10px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 90px;
}
h4 
{
  font-size: 20px;
  text-align: center;
  font-family: Calibri;
  padding: 80px;
  font-weight: normal;
  width: 50%;
  margin-top: 20px;
  margin-left: 20%;
}
h3
{
    font-size: 20px;
    text-align: center;
    font-family: Calibri;
    padding: 40px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}
a
{
    text-decoration: none;
    text-decoration: none;
    color: black;
}
div.con{
    color: #ffffff;
}

     PASS WDS

     <!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Réinitialiser votre mot de passe</title>
</head>
<body>
    <?php include('menu.php')?>   
    <h4>Vous avez oublié  votre mot de passe, c'est pas grave ça arrive même aux génies.
Pas de panique.</h4><center>
   <form action="" method="POST">
        <div class="form-group">
            <label for="">Entrez votre mail</label>
            <input type="text" name="pseudo" class="form-control" >
        </div>
        <button type='submit'  class='btn'>Envoyer</button>
    </form></center>
   
</body>
</html>


     CONNEXION

     
    <?php include('menu.php')?>   
    <h3>CONNECTEZ-VOUS</h3><center>
   <form action="" method="POST">
        <div class="form-group">
            <label class="pse" for="">Pseudo</label>
            <input type="text" name="pseudo" class="form-control" >
        </div>
        <div class="form-group">
            <label class="mot" for="">Mot de passe</label>
            <input type="password" name="mot_pass" class="form-control">
        </div>
        <h6><a href="passwd.php">Mot de passe oublié ?</a></h6>
        <button type='submit'  class='btn'>Se connecter</button>
    </form></center>
    <h6><a href="inscription.php">Créez un compte</a></h6>
</body>
</html>


         INSCRIPTION

         <?php include('menu.php')?>   
    <h3>INSCRIVEZ-VOUS</h3>
    <center>
   <form action="" method="POST">
        <div class="form-group">
            <label class="pse" for="">Pseudo</label>
            <input type="text" name="pseudo" class="form-control" >
        </div>
        <div class="form-group">
            <label class="mail" for="">Mail</label>
            <input type="mail" name="mail" class="form-control">
        </div>
        <div class="form-group">
            <label class="mot" for="">Mot de passe</label>
            <input type="password" name="passwd" class="form-control">
        </div>
        <div class="form-group">
            <label class="pass" for="">Confirmez votre mot de passe</label>
            <input type="password" name="passwd_conf" class="form-control">
        </div>
        <button type='submit'  class='btn btn-primary'>S'inscrire</button>

    </form><h6><a href="connexion.php">J'ai déjà un compte</a></h6></center>
</body>
</html>


        MENU


        div class="menu">
            <ul>
                <li><a href="index.php">Acceuil</a></li>
                <li><a href="#">Opérations</a>
                    <ul>
                        <li><a href="#">Achat</a></li>
                        <li><a href="#">Vendre</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a></li>
           
            </ul> <div class="con"><button><a href="connexion.php">Se connecter</a></button></div>
        </div>